autopep8==2.0.4
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
filelock==3.12.0
fsspec==2023.5.0
huggingface-hub==0.15.1
idna==3.4
Jinja2==3.1.2
MarkupSafe==2.1.2
mpmath==1.2.1
networkx==3.0
numpy==1.24.3
packaging==23.1
Pillow==9.3.0
py-mon==1.1.1
pycodestyle==2.11.1
pygame==2.5.2
PyYAML==6.0
regex==2023.6.3
requests==2.31.0
sympy==1.11.1
tokenizers==0.13.3
tomli==2.0.1
torch==2.0.1+cu117
torchaudio==2.0.2+cu117
torchvision==0.15.2+cu117
tqdm==4.65.0
transformers==4.29.2
typing_extensions==4.6.3
urllib3==2.0.2
watchdog==3.0.0
